.container {
    width: 100%;
    margin: 1em auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0.1em;
    justify-content: center;
}

.map{
    margin-top: 5rem;
}
.text{
text-align: center;
}